.button {
  display: flex;
  justify-content: space-between;
}
.time, .next{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.time{
    opacity: .5;
}
@media (max-width: 768px) {
    .time, .next{
        margin-top: 10px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
  }